{% extends "base.html" %}
{% block content %}
    <h4>Octave</h4>
	<p>
		In music, an octave (Latin: octavus: eighth) or perfect octave
		(sometimes called the diapason) is the interval between 
		one musical pitch and another with double its frequency. 
		
		The octave relationship is a natural phenomenon that 
		has been referred to as the "basic miracle of music", 
		the use of which is "common in most musical systems". 
		
		After the unison, the octave is the simplest interval in music.
		The human ear tends to hear both notes as being essentially 
		"the same", due to closely related harmonics.
	</p>
	<h4>Infinity</h4>
	<p>
		Infinity (symbol: ∞) is a concept describing something 
		without any bound, or something larger than any natural number.
		
		Philosophers have speculated about the nature of the infinite, 
		for example Zeno of Elea, who proposed many paradoxes 
		involving infinity, and Eudoxus of Cnidus, 
		who used the idea of infinitely small quantities 
		in his method of exhaustion. 
		
		This idea is also at the basis of infinitesimal calculus.
	</p>
{% endblock content %}