{% extends "base.html" %}
{% block content %}
    <h4>Contact Us</h4>
    <p>
        <br>
        This is a prototype of a simple social-network.
    </p>
	<div> 
	    <ul>
			<li>
                <b>Web-Site</b>: 
                <a class="ml-2" href="https://octave-brokerage.herokuapp.com">
                    https://octave-brokerage.herokuapp.com
                </a>
			</li>
			<li>
                <b>Email</b>:
				<a href="mailto:e.makoviak@gmail.com">
                    e.makoviak@gmail.com
                </a>
			</li>
			<li>
                <b>LinkedIn</b>: 
                <a class="ml-2" href="https://linkedin.com/in/eugene-makovyak">
                    https://linkedin.com/in/eugene-makovyak
                </a>
			</li>
			<li>
                <b>GitHub</b>: 
                <a class="ml-2" href="https://github.com/OctaveInfinity">
                    https://github.com/OctaveInfinity
                </a>
			</li>
	     </ul>	
	</div>
	<div>	    
	    <ul>
	    	<li><b>Skype</b>: oktava.infinity</li>
			<li><b>Phone</b>: +38(097)069-3010</li>
		</ul>	
	</div>	
{% endblock content %}