<!-- Sidebar -->
<div class="col-md-4">
    <div class="content-section">
        <p class='text-muted'></p>
        <div class="list-group">
            <a class="list-group-item list-group-item-action bg-light" 
                href="{% url 'dj-post-list' %}" >All Posts</a>
            {% if user.is_authenticated %}
                <a class="list-group-item list-group-item-action bg-gray"
                    href="{% url 'dj-post-create' %}"><b>Add Post</b></a> 
                <a class="list-group-item list-group-item-action bg-gray"
                    href="{% url 'profile' %}"><b>My Profile</b></a>
            {% endif %}
            <a class="list-group-item list-group-item-action bg-light"
                href="#" >Contact Us </a>
            <a class="list-group-item list-group-item-action bg-light"
                href="{% url 'admin:index' %}" >interface - Admin</a>      
        </div>
        <p class='text-muted'></p>
    </div>
</div>