{% extends "base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ post.owner.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'dj-user-posts' post.owner.username %}">{{ post.owner }}</a>
                    <small class="text-muted mr-4" mr-4>{{ post.posted|date:"F d, Y" }}</small>
                    <small class="text-muted ml-auto">{{ post.liked.count }} liked</small>
                </div>
                <h5><a class="article-title" href="{% url 'dj-post-detail' post.id %}">{{ post.title }}</a></h5>
                <p class="article-content">{{ post.content |truncatewords:10 }}</p>
            </div>
        </article>
    {% endfor %}
    {% include 'partials/_pagination.html' %}
{% endblock content %}